<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="dbCoffeShop" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9KA8F81;initial catalog=DBCafeteria;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBCafeteriaEntities" connectionString="metadata=res://*/dbCoffeShop.csdl|res://*/dbCoffeShop.ssdl|res://*/dbCoffeShop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9KA8F81;initial catalog=DBCafeteria;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>